@import '../../../styles/colors';

#header {
  align-items: center;
  background: $header_bg_color;
  height: 50px;

  h1 {
    font-weight: 300;
    font-size: 24px;
  }

  button, h1 {
    display: inline-block;
  }
}
